<business-nav> </business-nav>
<div class="content-wrapper">
  <section class="wrapper">
    <br>
    <div class="row">
      <h3 class="text-center"> Merch Management </h3>
    </div>

    <div class="row">
    
        <div style="cursor: pointer;" data-toggle="modal" data-target="#modal-info" class="col-lg-4 col-lg-offset-1">
            <div class="small-box bg-aqua">
                <div class="inner">
                <h3>ADD</h3>

                <p>NEW MERCH ITEM</p>
                </div>
                <div class="icon">
                <i class="fa fa-plus"></i>
                </div>
            </div>
        </div>

      <div class="col-lg-10 col-lg-offset-1">

        <div class="box box-info">

          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table table-hover table-bordered no-margin">
                <thead>
                  <tr style="background-color: #0e0e28; color: white">
                    <th>Item Name</th>
                    <th>Item Price</th>
                    <th>Item Category</th>
                    <th>Quantity Sold</th>
                    <th>Quantity Left</th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="cursor:pointer" data-toggle="modal" data-target="#modal-default">
                    <td>
                      <a href="pages/examples/invoice.html">OR9842</a>
                    </td>
                    <td>Call of Duty IV</td>
                    <td>
                      <span class="label label-success">Shipped</span>
                    </td>

                  </tr>
                  <tr>
                    <td>
                      <a href="pages/examples/invoice.html">OR1848</a>
                    </td>
                    <td>Samsung Smart TV</td>
                    <td>
                      <span class="label label-warning">Pending</span>
                    </td>

                  </tr>
                  <tr>
                    <td>
                      <a href="pages/examples/invoice.html">OR7429</a>
                    </td>
                    <td>iPhone 6 Plus</td>
                    <td>
                      <span class="label label-danger">Delivered</span>
                    </td>

                  </tr>
                  <tr>
                    <td>
                      <a href="pages/examples/invoice.html">OR7429</a>
                    </td>
                    <td>Samsung Smart TV</td>
                    <td>
                      <span class="label label-info">Processing</span>
                    </td>

                  </tr>
                  <tr>
                    <td>
                      <a href="pages/examples/invoice.html">OR1848</a>
                    </td>
                    <td>Samsung Smart TV</td>
                    <td>
                      <span class="label label-warning">Pending</span>
                    </td>

                  </tr>
                  <tr>
                    <td>
                      <a href="pages/examples/invoice.html">OR7429</a>
                    </td>
                    <td>Samsung Smart TV</td>
                    <td>
                      <span class="label label-info">Processing</span>
                    </td>

                  </tr>
                  <tr>
                    <td>
                      <a href="pages/examples/invoice.html">OR1848</a>
                    </td>
                    <td>Samsung Smart TV</td>
                    <td>
                      <span class="label label-warning">Pending</span>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>

          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
    </div>

  </section>
</div>

<div class="modal modal-info fade" id="modal-info">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Info Modal</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Default Modal</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>