<div class="example3">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#collapsemenu"
          aria-expanded="false">

          <span style="color: #ffffff" class="icon-bar"></span>
          <span style="color: #ffffff" class="icon-bar"></span>
          <span style="color: #ffffff" class="icon-bar"></span>

        </button>
        <a routerLink="/" routerLinkActive="active" class="navbar-brand">
          <img src="assets/img/Capture.PNG">
        </a>
      </div>
  
      <ul style="margin-left: -20px" class="nav hidden-md hidden-xs hidden-sm navbar-nav">
        
          <li role="presentation">
            <a id="pleasework" routerLink="/" routerLinkActive="active">
              GENTS of LΛGOS
              <br>
              <small class="fix">
                Upscale Men's Brand
              </small>
            </a>
          </li>
      </ul>

      <div class="pull-right hidden-sm hidden-xs">
        <ul class="nav navbar-nav">
          <li role="presentation">
            <a routerLink="/" routerLinkActive="active">Home</a>
          </li>
          <li role="presentation">
            <a routerLink="/theshop" routerLinkActive="active">The Shop</a>
          </li>
          <li role="presentation">
            <a routerLink="/services" routerLinkActive="active">Our Services</a>
          </li>
          <li role="presentation">
            <a routerLink="/bookings" routerLinkActive="active"> Bookings </a>
          </li>
          <li role="presentation">
            <a routerLink="/merch" routerLinkActive="active">Gents Of Lagos Merch</a>
          </li>
          <li role="presentation">
            <a routerLink="/academy" routerLinkActive="active"> Academy </a>
          </li>
          <li role="presentation">
            <a routerLink="/cart" routerLinkActive="active"> <i class="fas fa-cart-arrow-down"></i> <span class="badge badge-info">{{count}}</span> </a>
          </li>
        </ul>
      </div>

      <div class="collapse navbar-collapse" id="collapsemenu">
        <ul class="nav navbar-nav hidden-lg hidden-md">
          <li role="presentation">
            <a routerLink="/" routerLinkActive="active">Home</a>
          </li> 
          <li role="presentation">
              <a routerLink="/cart" routerLinkActive="active"> <i class="fas fa-cart-arrow-down"></i> <span class="badge badge-info">{{count}}</span> </a>
            </li>
          <li role="presentation">
            <a routerLink="/theshop" routerLinkActive="active">The Shop</a>
          </li>
          <li role="presentation">
            <a routerLink="/services" routerLinkActive="active">Our Services</a>
          </li>
          <li role="presentation">
            <a routerLink="/merch" routerLinkActive="active">Gents Of Lagos Merch</a>
          </li>
          <li role="presentation">
            <a routerLink="/academy" routerLinkActive="active"> Academy </a>
          </li>
          <li role="presentation">
            <a routerLink="/bookings" routerLinkActive="active"> Bookings </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

