<business-nav> </business-nav>
<div class="content-wrapper">

  <div *ngIf='loader' class="row text-center">
        <img style='height: 100%; width: 100%' src="assets/img/loadergif.gif" alt="">
    </div>       

    <section *ngIf='!loader' class="content">

    <ng-progress [color]="'white'" [speed]="10" [trickleSpeed]="50" [thick]="true"></ng-progress>

    <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab">Manage Users</a></li>
              <li><a href="#tab_2" data-toggle="tab">Manage Categories</a></li>
              <li><a href="#tab_3" data-toggle="tab">Manage Sources</a></li>
              <li><a href="#tab_4" data-toggle="tab">Manage Services</a></li>
              <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                  <div class="container-fluid">
                    <div class="row">
                      <div (click)="type ='info';title='ADD NEW USER';popModal('newuser')" style="cursor: pointer;" data-toggle="modal" data-target="#modal-info" class="col-lg-3">
                        <div class="small-box bg-aqua">
                          <div class="inner">
                            <h3>ADD</h3>

                            <p>NEW USER</p>
                          </div>
                          <div class="icon">
                            <i class="fa fa-plus"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                        <div *ngFor="let user of users" class="col-md-4">
                          <div class="box box-info">
                            <div class="box-body box-profile" style="border: 1px solid#00c0ef">

                              <h3 class="profile-username text-center"> {{user.username | uppercase}} </h3>

                              <p class="text-muted text-center"> {{user.title}} </p>

                              <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                  <b>Full Name</b>
                                  <a class="pull-right">{{user.full_name}}</a>
                                </li>
                                <li class="list-group-item">
                                  <b> User Type </b>
                                  <a class="pull-right">{{user.user_type | uppercase}}</a>
                                </li>
                                <li class="list-group-item">
                                  <b>Last Login</b>
                                  <a class="pull-right">{{user.last_login}}</a>
                                </li>
                                
                              </ul>

                              <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
                                <a (click)="deleteUser(user.id)" class="btn btn-danger btn-block">
                                  <b style="color: white">Delete</b>
                                </a>
                              </div>
                            </div>
                            <!-- /.box-body -->
                          </div>
                        </div>
                      
                    </div>
                  </div>
              </div>
              <div class="tab-pane" id="tab_2">
                <div class="row">

                  <div class="col-lg-6" style="border-right: 1px solid #00c0ef">
                    <div class="row">
                      <h3 class="text-left text-main" style="margin-left:15px"> Staff Categories </h3>
                      <div (click)="type ='info';title='ADD NEW CATEGORY';popModal('staffcat') " style="cursor: pointer;" data-toggle="modal" data-target="#modal-info" class="col-lg-6">
                        <div class="small-box bg-aqua">
                          <div class="inner">
                            <h3>ADD</h3>

                            <p>NEW CATEGORY</p>
                          </div>
                          <div class="icon">
                            <i class="fa fa-plus"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="box box-info">
                        <div class="box-header with-border">
                          <h3 class="box-title"> Created Staff Categories </h3>

                          <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                              <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                              <i class="fa fa-times"></i>
                            </button>
                          </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                          <div class="table-responsive">
                            <table class="table table-hover table-bordered no-margin">
                              <thead>
                                <tr style="background-color: #0e0e28; color: white">
                                  <th>Category Name</th>
                                  <th>Date Created</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let category of staffCategories" style="cursor:pointer" data-toggle="modal" data-target="#modal-default">
                                  <td>
                                    <a> {{category.category_name}} </a>
                                  </td>
                                  <td> {{category.createddate}} </td>
                                  <td class="text-center"> <button (click)="deleteStaffCat(category.id)" class="btn btn-danger"> Delete </button>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <!-- /.table-responsive -->
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-lg-6" style="border-left: 1px solid #00c0ef">
                    <div class="row">
                      <h3 class="text-left text-main" style="margin-left:15px"> Merch Categories </h3>
                      <div (click)="type ='info';title='ADD NEW CATEGORY'; popModal('merchcat') " style="cursor: pointer;" data-toggle="modal" data-target="#modal-info" class="col-lg-6">
                        <div class="small-box bg-aqua">
                          <div class="inner">
                            <h3>ADD</h3>

                            <p>NEW CATEGORY</p>
                          </div>
                          <div class="icon">
                            <i class="fa fa-plus"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="box box-info">
                        <div class="box-header with-border">
                          <h3 class="box-title">Created Merch Categories</h3>

                          <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                              <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                              <i class="fa fa-times"></i>
                            </button>
                          </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                          <div class="table-responsive">
                            <table class="table table-hover table-bordered no-margin">
                              <thead>
                                <tr style="background-color: #0e0e28; color: white">
                                  <th>Category Name</th>
                                  <th>Date Created</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let category of merchCategories" style="cursor:pointer" data-toggle="modal" data-target="#modal-default">
                                  <td>
                                    <a> {{category.category_name}} </a>
                                  </td>
                                  <td> {{category.createddate}} </td>
                                  <td class="text-center"> <button (click)="deleteMerchCat(category.id)" class="btn btn-danger"> Delete </button>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <!-- /.table-responsive -->
                        </div>

                        <!-- /.box-footer -->
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="tab-pane" id="tab_3">
                <div class="row">

                  <div class="col-lg-6" style="border-right: 1px solid #00c0ef">
                    <div class="row">
                      <h3 class="text-left text-main" style="margin-left:15px"> Revenue Sources </h3>
                      <div (click)="type ='info';title='ADD NEW SOURCE';popModal('revsource')" style="cursor: pointer;" data-toggle="modal" data-target="#modal-info" class="col-lg-6">
                        <div class="small-box bg-aqua">
                          <div class="inner">
                            <h3>ADD</h3>

                            <p>NEW SOURCE</p>
                          </div>
                          <div class="icon">
                            <i class="fa fa-plus"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="box box-info">
                        <div class="box-header with-border">
                          <h3 class="box-title">Created Revenue Sources</h3>

                          <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                              <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                              <i class="fa fa-times"></i>
                            </button>
                          </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                          <div class="table-responsive">
                            <table class="table table-hover table-bordered no-margin">
                              <thead>
                                <tr style="background-color: #0e0e28; color: white">
                                  <th>Source Name</th>
                                  <th>Date Created</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let source of revenueSources" style="cursor:pointer" data-toggle="modal" data-target="#modal-default">
                                  <td>
                                    <a> {{source.source}} </a>
                                  </td>
                                  <td> {{source.createddate}} </td>
                                  <td class="text-center"> <button (click)="deleteRevSource(source.id)" class="btn btn-danger"> Delete </button>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <!-- /.table-responsive -->
                        </div>

                        <!-- /.box-footer -->
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-lg-6" style="border-left: 1px solid #00c0ef">
                    <div class="row">
                      <h3 class="text-left text-main" style="margin-left:15px"> Expense Sources </h3>
                      <div (click)="type ='danger'; title='ADD NEW SOURCE'; popModal('expsource')" style="cursor: pointer;" data-toggle="modal" data-target="#modal-info" class="col-lg-6">
                        <div class="small-box bg-red">
                          <div class="inner">
                            <h3>ADD</h3>

                            <p>NEW SOURCE</p>
                          </div>
                          <div class="icon">
                            <i class="fa fa-plus"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="box box-info">
                        <div class="box-header with-border">
                          <h3 class="box-title">Created Expense Sources</h3>

                          <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                              <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                              <i class="fa fa-times"></i>
                            </button>
                          </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                          <div class="table-responsive">
                            <table class="table table-hover table-bordered no-margin">
                              <thead>
                                <tr style="background-color: #0e0e28; color: white">
                                  <th>Source Name</th>
                                  <th>Date Created</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let source of expenseSources" style="cursor:pointer" data-toggle="modal" data-target="#modal-default">
                                  <td>
                                    <a> {{source.source}} </a>
                                  </td>
                                  <td> {{source.createddate}} </td>
                                  <td class="text-center"> <button (click)="deleteExpSource(source.id)" class="btn btn-danger"> Delete </button>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="tab-pane" id="tab_4">
                <div class="row">
                      <h3 class="text-left text-main" style="margin-left:15px"> Grooming Services </h3>
                      <div (click)="type ='info';title='ADD NEW SERVICE'; popModal('newservice')" style="cursor: pointer;" data-toggle="modal" data-target="#modal-info" class="col-lg-3">
                        <div class="small-box bg-aqua">
                          <div class="inner">
                            <h3>ADD</h3>

                            <p>NEW SERVICE</p>
                          </div>
                          <div class="icon">
                            <i class="fa fa-plus"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="box box-info">
                        <div class="box-header with-border">
                          <h3 class="box-title">Created Services</h3>

                          <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                              <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                              <i class="fa fa-times"></i>
                            </button>
                          </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                          <div class="table-responsive">
                            <table class="table table-hover table-bordered no-margin">
                              <thead>
                                <tr style="background-color: #0e0e28; color: white">
                                  <th>Service Name</th>
                                  <th>Price</th>
                                  <th> Duration </th>
                                  <th> Description </th>
                                  <th> Times Booked </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let service of services" style="cursor:pointer" data-toggle="modal" data-target="#modal-default">
                                  <td>
                                    <a> {{service.service_name}} </a>
                                  </td>
                                  <td> {{service.service_price | currency:'N'}} </td>
                                  <td>
                                    <a> {{service.duration}} minutes </a>
                                  </td>
                                  <td> {{service.description | slice:0:90}}... </td>
                                  <td> {{service.times_booked}} </td>
                                  <td class="text-center"> <button (click)="deleteService(service.id)" class="btn btn-danger"> Delete </button>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <!-- /.table-responsive -->
                        </div>

                        <!-- /.box-footer -->
                        </div>
                      </div>
                    </div>
              </div>
            </div>
    </div>

    
  </section>
</div>

<div class="modal modal-{{type}} fade" id="modal-info">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button id="close" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <form *ngIf="newUser" #newUser="ngForm" (ngSubmit)="postNewUser(newUser)">
        <div class="modal-body">
                <div class="form-group">
                  <label for="full_name">Full Name</label>
                  <input type="text" class="form-control" name="full_name" placeholder="Enter Full Name" ngModel>
                </div>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" name="username" placeholder="Enter Username" ngModel>
                </div>
                <div class="form-group">
                  <label for="full_name">Password</label>
                  <input type="password" class="form-control" name="password" placeholder="Enter User Password" ngModel>
                </div>
                <div class="form-group">
                  <label for="usertype">Usertype</label>
                  <select name="usertype" class="form-control" ngModel>
                    <option value="Admin"> Admin </option>
                    <option value="User"> User </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="title">Title</label>
                  <select name="title" class="form-control" ngModel>
                    <option value="CEO"> CEO </option>
                    <option value="CTO"> CTO </option>
                    <option value="Manager"> Shop Manager </option>
                  </select>
                </div>
                
        </div>
        <div class="modal-footer">
          <button #closer type="button" class="btn btn-outline pull-left" data-dismiss="modal">CLOSE</button>
          <button type="submit" class="btn btn-outline"> {{endButton | uppercase }} </button>
        </div>
      </form>
      <form *ngIf="newStaffCategory" #newStaffCategory="ngForm" (ngSubmit)="postNewStaffCategory(newStaffCategory)">
        <div class="modal-body">
          <div class="form-group">
            <label for="full_name">Category Name</label>
            <input type="text" class="form-control" name="category_name" placeholder="Enter Category Name" ngModel>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">CLOSE</button>
          <button type="submit" class="btn btn-outline"> {{endButton | uppercase }} </button>
        </div>
      </form>
      <form *ngIf="newMerchCategory" #newMerchCategory="ngForm" (ngSubmit)="postNewMerchCategory(newMerchCategory)">
        <div class="modal-body">
          <div class="form-group">
            <label for="full_name">Category Name</label>
            <input type="text" class="form-control" name="category_name" placeholder="Enter Category Name" ngModel>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">CLOSE</button>
          <button type="submit" class="btn btn-outline"> {{endButton | uppercase }} </button>
        </div>
      </form>
      <form *ngIf="newRevenueSource" #newRevenueSource="ngForm" (ngSubmit)="postNewRevenueSource(newRevenueSource)">  
        <div class="modal-body">
          <div class="form-group">
            <label for="full_name">Source Name</label>
            <input type="text" class="form-control" name="source" placeholder="Enter Source Name" ngModel>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">CLOSE</button>
          <button type="submit" class="btn btn-outline"> {{endButton | uppercase }} </button>
        </div>
      </form>
      <form *ngIf="newExpenseSource" #newExpenseSource="ngForm" (ngSubmit)="postNewExpenseSource(newExpenseSource)">
        <div class="modal-body">
            <div class="form-group">
              <label for="full_name">Source Name</label>
              <input type="text" class="form-control" name="source" placeholder="Enter Source Name" ngModel>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">CLOSE</button>
          <button type="submit" class="btn btn-outline"> {{endButton | uppercase }} </button>
        </div>
      </form>
      <form *ngIf="newService" #newService="ngForm" (ngSubmit)="postNewService(newService)">
        <div class="modal-body">
            <div class="form-group">
              <label for="full_name">Servie Name</label>
              <input type="text" class="form-control" name="service_name" placeholder="Enter Service Name" ngModel>
            </div>
            <div class="form-group">
              <label for="full_name">Servie Price (Naira) </label>
              <input type="number" class="form-control" name="service_price" placeholder="Enter Service Price" ngModel>
            </div>
            <div class="form-group">
              <label for="full_name">Servie Duration (Minutes) </label>
              <input type="number" class="form-control" name="duration" placeholder="Enter Duration" ngModel>
            </div>
            <div class="form-group">
              <label for="full_name">Servie Description</label>
              <textarea type="text" class="form-control" name="description" placeholder="Enter Description Here" ngModel></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">CLOSE</button>
          <button type="submit" class="btn btn-outline"> {{endButton | uppercase }} </button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>