<app-nav></app-nav>

<div class="content" style="margin-top: -19px; padding: 0">
      <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-6  picture">
            <br>
          </div>
          <div class="col-lg-6 text-center blue">
            <br>
                       <br>
            <p> With world class facilities for the modern Lagos gentleman, our range of services are designed to cater
            to your grooming requirements.  </p>
            <br>
          </div>
        </div>
        
        <div class="col-lg-8 col-lg-offset-2">
            <div class="service">
              <h3> SERVCE LIST </h3>
              <p>
                Please choose the barbering service and time frame that best suits your grooming requirements. 
                An optional back of the neck shave is provided along with a complimentary espresso to keep you 
                on the move during your busy day. 
              </p>
              <hr>

              <div *ngFor="let service of services" class="items">
                  <h3>
                    {{service.service_name}}
                    <br> {{service.service_price | currency:'₦'}}
                  </h3>
                  
                  <p> Duration: {{service.duration}} minutes </p>
                  
                  <p>
                    {{service.description}}
                  </p>

                  <button class="btn btn-primary"> Book Now </button>
                  <hr>
              </div>

            </div>
        </div>
      </div>
</div>

<app-footer></app-footer>
