<app-nav></app-nav>

    <div class="content" style="margin-top: -19px; overflow: hidden;">
        <div class="row">

            <div class="col-lg-12">
        
                <div class="carousel slide hidden-xs" data-ride="carousel" id="home">
        
                    <ol class="carousel-indicators">
                        <li data-target="#home" data-slide-to="0" class="active"></li>
                        <li data-target="#home" data-slide-to="1"></li>
                        <li data-target="#home" data-slide-to="2"></li>
                        <li data-target="#home" data-slide-to="3"></li>
                        <li data-target="#home" data-slide-to="4"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="assets/img/slide1.jpg" alt="slide1">
                            <div class="carousel-caption">
                                <h3> Gent of Lagos </h3>
                                <p> Upscale Men's Grooming and Merchandise Brand </p>
                            </div>
                        </div>
                        <div class="item">
                            <a routerLink="/theshop" routerLinkActive="true">
                                <img src="assets/img/slide.jpg" alt="slide">
                                <div class="carousel-caption">
                                    <h3> Visit Our Shop </h3>
                                    <p> Walk into our men's lounge and get the best men's grooming service in Lagos </p>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a routerLink="/merch" routerLinkActive="true">
                                <img src="assets/img/merch-main.jpg" alt="slide2">
                                <div class="carousel-caption">
                                    <h3> Get That Gents of Lagos Fresh </h3>
                                    <p> Order your own Gents of Lagos merch online now </p>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a routerLink="/academy" routerLinkActive="true">
                                <img src="assets/img/academy-main.jpg" alt="slide2">
                                <div class="carousel-caption">
                                    <h3> Join Our Academy </h3>
                                    <p> Take your first steps into the world of professional barbing </p>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a routerLink="/bookings" routerLinkActive="true">
                                <img src="assets/img/bookings-main.jpg" alt="slide2">
                                <div class="carousel-caption">
                                    <h3> Book a Cut </h3>
                                    <p> Skip the hassle of waiting and book a cut online </p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <a href="#home" data-slide="prev" class="left carousel-control">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>

                    <a href="#home" data-slide="next" class="right carousel-control">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>


        
                </div>

                <div style="margin-top: 15px" class="container hidden-lg hidden-md hidden-sm">
                    

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a href="" routerLink="/bookings" routerLinkActive="true" class="thumbnail">
                            <img src="assets/img/bookings-main.jpg" alt="slide2">
                            <div class="caption text-center">
                                <h3> Book a Cut </h3>
                                <p> Skip the hassle of waiting and book a cut online </p>
                            </div>
                        </a>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a routerLink="/theshop" routerLinkActive="true" class="thumbnail">
                            <img src="assets/img/slide.jpg" alt="slide">
                            <div class="caption text-center">
                                <h3> Visit Our Shop </h3>
                                <p> Walk into our men's lounge and get the best men's grooming service in Lagos </p>
                            </div>
                        </a>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a routerLink="/academy" routerLinkActive="true" class="thumbnail">
                            <img src="assets/img/academy-main.jpg" alt="slide2">
                            <div class="caption text-center">
                                <h3> Join Our Academy </h3>
                                <p> Take your first steps into the world of professional barbing </p>
                            </div>
                        </a>
                    </div>
                    
                    
                    
                </div>
        
            </div>

            <div class="col-lg-12">
                <div class="container">
                    <div class="text-center">
                        <h2>
                            Gents of Lagos Merch
                        </h2>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a href="" class="thumbnail">
                            <img src="assets/img/merch.jpg" alt="merch">
                            <div class="caption text-center">
                                <h3> Gents of Lagos Snapback </h3>
                                <p> Price Goes Here </p>
                                <button class="btn btn-success"> Order Now </button>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a href="" class="thumbnail">
                            <img src="assets/img/merch.jpg" alt="merch">
                            <div class="caption text-center">
                                <h3> Gents of Lagos Snapback </h3>
                                <p> Price Goes Here </p>
                                <button class="btn btn-success"> Order Now </button>
                            </div>
                        </a>
                    </div>
                    <div class="hidden-lg col-md-6 col-sm-6 col-xs-12">
                        <a href="" class="thumbnail">
                            <img src="assets/img/merch.jpg" alt="merch">
                            <div class="caption text-center">
                                <h3> Gents of Lagos Snapback </h3>
                                <p> Price Goes Here </p>
                                <button class="btn btn-success"> Order Now </button>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a href="" class="thumbnail">
                            <img src="assets/img/merch.jpg" alt="merch">
                            <div class="caption text-center">
                                <h3> Gents of Lagos Snapback </h3>
                                <p> Price Goes Here </p>
                                <button class="btn btn-success"> Order Now </button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 text-center back">
                
                <div class="container fixer">
                    <h2> Gents Of Lagos </h2>
                    <br>
                    <p>
                        Welcome to Gents of Lagos Barbershop. A traditional male grooming company for the modern day Lagos gent. Since our barbershop
                        doors first opened we have proudly become one of Lagos’s best known and trustworthy barbers.
                    </p>
                    <br>
                    <p> 
                         The Gents of Lagos hair styling range has been developed by our team of male grooming specialist, relying on cutting edge
                        industry knowledge and current trends. No matter what your hair styling requirements classic or contemporary, we’ve got you
                        covered.
                    </p>
                    <br>

                    <button routerLink="/theshop" routerLinkActive="true" class="btn btn-warning"> Visit Us </button>
                    <br>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="col-lg-6 black text-center">
                    <div class="content" style="cursor: pointer;"  routerLink="/bookings" routerLinkActive="true">
                        
                            <p> We are committed to providing you with a haircut that you want; a haircut that represents how you wish to be portrayed, whether
                                contemporary or classic
                            </p>
                            <br>
                            
                            <p> Book A Cut </p>

                        
                    </div>
                </div>
                <div class="col-lg-6 picture">
                    <br>
                </div>
            </div>
        
        </div>
    </div>
        
<app-footer></app-footer>
