<div  *ngIf='loader' class="row text-center">
    <img style='height: 100%; width: 100%' src="assets/img/loadergif.gif" alt="">
</div>

<div *ngIf='!loader'>
    <app-nav></app-nav>
    <div class="content" style="margin-top:-19px; padding: 0">
      <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-6 hidden-sm hidden-xs picture">
            <br>
          </div>
          <div class="col-lg-6 text-center blue">
            <br> <br>
            <p> Get the cut, then look the part with pieces from our merchandise line inspired by traditional Lagos urban wear </p>
            <br>
          </div>
        </div>
        <div *ngFor='let item of items' class="col-lg-12">
          <div class="container">
            <div class="text-center">
              <h2>
                {{item.category}}
              </h2>
            </div>
        
            <div *ngFor='let merch of item.item' class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <a routerLink='/merch/{{merch.id}}' (click)='selectMerch(merch)' href="" class="thumbnail">
                <img src="https://gentsoflagos.herokuapp.com/{{merch.item_avatar}}" alt="merch">
                <div class="caption text-center">
                  <h3> {{merch.item_name}} </h3>
                  <p> {{merch.item_price | currency:'₦'}} </p>
                  <button  class="btn btn-primary"> Order Now </button>
                </div>
              </a>
            </div>
            
          </div>
        </div>
        
      </div>
    </div>
    <app-footer></app-footer>
</div>
