<app-nav></app-nav>

<div class="content container" style="line-height: 1.8em">

  <h2> Refunds & Returns </h2>

  <p>
   
    We hope you enjoy your Gents of Lagos items but should there be an issue with anything you purchase please do let us know
    via email: sales@gentsoflagos.com <br>
    
    Our policy lasts 30 days. If 30 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange. <br>
    
    To complete your return, we require a receipt or proof of purchase. <br>
    
    There are certain situations where shaving items refunds can not be granted: (if applicable) <br>
    
    1. Any shaving item not in its original condition, is damaged or missing parts for reasons not due to our error. <br>
    
    2. Any item that is returned more than 30 days after delivery

  </p> <br> 
  
  <h3>
     REFUNDS (IF APPLICABLE)
  </h3> 
  
  <p>
     Once your return is received and inspected, we will send you an email to notify you that we have received your returned
    item. We will also notify you of the approval or rejection of your refund. If you are approved, then your refund will be
    processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain
    amount of days. LATE OR MISSING REFUNDS (IF APPLICABLE) If you haven’t received a refund yet, first check your bank account
    again. Then contact your credit card company, it may take some time before your refund is officially posted. Next contact
    your bank. There is often some processing time before a refund is posted.
  </p> <br> 
  
  <p>
     If you’ve done all of this and you still have not received your refund yet, please contact us at sales@gentsoflagos.com.
  </p> <br> 

  <h3>
     SALE ITEMS (IF APPLICABLE)
  </h3> 
  
  <p>
       Only regular priced items may be refunded, unfortunately sale items cannot be refunded.
  </p> <br>
  
  <h3>
     EXCHANGES (IF APPLICABLE)
  </h3>
  
  <p>
     We only replace shaving items if they are defective or damaged. If you need to exchange it for the same item, send us an
    email at sales@gentsoflagos.com and send your item to: Gents of Lagos, 136 Bode Thomas Street, Surulere, Lagos, Nigeria
  </p> <br>


  <h3> 
     SHIPPING (IF APPLICABLE)
  </h3> 
    
  <p> To return your product, you should mail your product to: Gents of Lagos, 163 Bode Thomas Street, Surulere, Lagos, Nigeria. 
    You will be responsible for paying for your own shipping costs for returning your item. Shipping
    costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund. Depending
    on where you live, the time it may take for your exchanged product to reach you, may vary. We don’t guarantee that we
    will receive your returned item.
  </p> <br> 

</div>

<app-footer></app-footer>