<business-nav> </business-nav>
<div class="content-wrapper">
    <section class="wrapper">
            <br>
            <div class="col-lg-6 col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Latest Bookings</h3>
                    
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered no-margin">
                                    <thead>
                                        <tr style="background-color: #0e0e28; color: white">
                                            <th>Time</th>
                                            <th>Customer Name</th>
                                            <th> Service </th>
                                            <th>Staff</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let booking of bookings" style="cursor:pointer" data-toggle="modal" data-target="#modal-default">
                                            <td>
                                                <a>{{booking.time}} | {{booking.date}} </a>
                                            </td>
                                            <td>{{booking.customer_name}}</td>
                                            <td>
                                                {{booking.service}}
                                            </td>
                                            <td>
                                                {{booking.staff_name}}
                                            </td>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        
                        <!-- /.box-footer -->
                    </div>
                    <!-- /.box -->
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Latest Orders</h3>
            
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table table-hover no-margin table-bordered">
                                <thead>
                                    <tr style="background-color: #0e0e28; color: white">
                                        <th>Date Due</th>
                                        <th> Customer Name </th>  
                                        <th>Item</th>
                                        <th> Size </th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let order of orders" style="cursor:pointer" data-toggle="modal" data-target="#modal-default">
                                        <td>
                                            <a>{{order.date_due}}</a>
                                        </td>
                                        <td>{{order.client_name}}</td>
                                        <td>{{order.item_ordered}}</td>
                                        <td>{{order.item_size}}</td>
            
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
            
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
        
    </section>
</div>

<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Default Modal</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->