<business-nav> </business-nav>
<ng-progress [color]="'white'" [speed]="10" [trickleSpeed]="50" [thick]="true"></ng-progress>
<div class="content-wrapper">
            <div *ngIf='loader' class="row text-center">
                <img style='height: 100%; width: 100%' src="assets/img/loadergif.gif" alt="">
            </div>       
        
            <section *ngIf='!loader' class="wrapper">
            <br>
            <div class="row">
                <h3 class="text-center"> Bookings </h3>
            </div>

            <div class="col-lg-10 col-lg-offset-1 col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            
                    
                            
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered no-margin">
                                    <thead>
                                        <tr style="background-color: #0e0e28; color: white">
                                            <th>Time</th>
                                            <th>Customer Name</th>
                                            <th> Service </th>
                                            <th>Staff</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let booking of bookings" (click)='viewBooking(booking)' style="cursor:pointer" data-toggle="modal" data-target="#modal-info">
                                            <td>
                                                <a>{{booking.time}} | {{booking.date}}</a>
                                            </td>
                                            <td>{{booking.customer_name}}</td>
                                            <td>
                                                {{booking.service}}
                                            </td>
                                            <td>
                                                {{booking.staff_name}}
                                            </td>
                                            <td> {{booking.state}} </td>
                                        </tr>
                                        <tr *ngIf='noBookings'>
                                            <td colspan="5" class="text-info text-center text-uppercase"> There are no pending bookings </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        
                        <!-- /.box-footer -->
                    </div>
                    <!-- /.box -->
            </div>

            
    </section>
</div>

<div class="modal fade" id="modal-info">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">{{modalTitle}}</h4>
            </div>
            <div *ngIf='bookingUpdate'>
              <div class="modal-body">
                  <div class="box-body">
                  <h4 class="text-danger text-center"> {{errorMessage}} </h4>
                  <div class="form-group">
                      <label for="amount">Customer Name</label>
                      <input type="text" disabled class="form-control" name="customer_name" [(ngModel)]='booking.customer_name'>
                  </div>
                  <div class="form-group">
                      <label for="amount">Service</label>
                      <input type="text" disabled class="form-control" name="service" [(ngModel)]='booking.service'>
                  </div>
                  <div class="form-group">
                      <label for="amount">Staff</label>
                      <input type="text" disabled class="form-control" name="service" [(ngModel)]='booking.staff_name'>
                  </div>
                  <div class="form-group">
                      <label for="amount">Time</label>
                      <input type="text" disabled class="form-control" name="time" [(ngModel)]='booking.time'>
                  </div>
                  <div class="form-group">
                      <label for="amount">Date</label>
                      <input type="text" disabled class="form-control" name="date" [(ngModel)]='booking.date'>
                  </div>
                  <div class="form-group">
                      <label for="source">Status</label>
                      <select name="source" class="form-control" [(ngModel)]='booking.status'>
                          <option value=""> Select Status </option>
                          <option value="0"> Uncompleted </option>
                          <option value="1"> Completed </option>
                      </select>
                  </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button id='clsBooking' type="button" class="btn btn-default pull-left" data-dismiss="modal">CLOSE</button>
                <button (click)='updateBookingStatus()' type="button" class="btn btn-primary">UPDATE</button>
              </div>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
</div>
<!-- /.modal -->