<business-nav> </business-nav>
<div class="content-wrapper">
    <section *ngIf="first" class="content">
        <h2 class="page-header">Revenue Breakdown</h2>
        
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua">
                        <i class="fa fa-calendar"></i>
                    </span>
        
                    <div class="info-box-content">
                        <span class="info-box-text">Today</span>
                        <span class="info-box-number">2,000</span>
                        <span (click)="drillDown('today')" class="info-box-text">
                            <a  class="small-box-footer">More info
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red">
                        <i class="fa fa-calendar"></i>
                    </span>
        
                    <div class="info-box-content">
                        <span class="info-box-text">This Week</span>
                        <span class="info-box-number">20,000</span>
                        <span (click)="drillDown('week')" class="info-box-text">
                            <a  class="small-box-footer">More info
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        
            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>
        
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green">
                        <i class="fa fa-calendar"></i>
                    </span>
        
                    <div class="info-box-content">
                        <span class="info-box-text">This Month</span>
                        <span class="info-box-number">200,000</span>
                        <span (click)="drillDown('month')" class="info-box-text">
                            <a  class="small-box-footer">More info
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow">
                        <i class="fa fa-calendar"></i>
                    </span>
        
                    <div class="info-box-content">
                        <span class="info-box-text">This Year</span>
                        <span class="info-box-number">2,000,000</span>
                        <span (click)="drillDown('year')" class="info-box-text">
                            <a  class="small-box-footer">More info
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Top Revenue Sources</h3>
                
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body text-center">
                        <div class="chart pad-all col-lg-offset-2">
                            <canvas #myChart width="200" height="200" style="max-height: 70%; max-width: 70%"></canvas>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <div class="col-md-6">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title"> Busiest Days </h3>
                
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart pad-all col-lg-offset-2">
                            <canvas #myChart2 width="200" height="200" style="max-height: 70%; max-width: 70%"></canvas>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>

    <section *ngIf="!first" class="content">
        
        <h2 class="page-header">
            Revenue Breakdown({{timeFrame}})  
            <span class="pull-right"> <button (click)="home()" class="btn btn-danger"> Back </button> </span>
        </h2>
        
        <div class="row">
        </div>

    </section>
    
</div>