<app-nav></app-nav>
<div *ngIf='loader' class="row text-center">
    <img style='height: 100%; width: 100%' src="assets/img/loadergif.gif" alt="">
</div>
<div *ngIf='!loader' class="content" style="margin-top:-19px; padding: 0">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-6  picture">
        <br>
      </div>
      <div class="col-lg-6 text-center blue">
        <br>
        <p> Each of our experienced qualified barbers are true experts in their field. Renowned for providing a professional service
        and the best haircuts in Lagos </p>
        <br> <br>
      </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
      <div class="service">
        <h3> THE TEAM </h3>
        
        <p>
           Each of our experienced qualified barbers are true experts in their field. Renowned for providing a professional service
          and the best haircuts in Lagos, our team have strived to build and earn a solid and dependable reputation. Here you can get
          to know a little bit more about your chosen barber prior to making an appointment online. We always recommend booking a day
          or two in advance to ensure you secure the time and date that suits you best. We look forward to seeing you in the barber
          chair soon.
        </p>
        <hr>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="container">

        <div *ngFor='let staff of staff' class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <a class="thumbnail">
            <img src="https://gentsoflagos.herokuapp.com/{{staff.staff_avatar}}" alt="slide2">
            <div class="caption text-center">
              <h3> {{staff.staff_name}} </h3>
              <p> {{staff.staff_bio}} </p>
              <button (click)='bookStaff(staff)' routerLink="/bookings" routerLinkActive="true" class="btn btn-primary"> Book Now </button>
            </div>
          </a>
        </div>
      
      </div>

      <hr>

    </div>
  </div>
</div>
<app-footer></app-footer>