.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0e0e28;;
    color: #ffffff;
    text-align: left;
    padding: 10px;
    line-height: 1.75em;
    position: relative;
}

a {
    color: #ffffff;
}

a:hover{
    text-decoration: none;
}

.icn{
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 990px) {
    
}