<div class="footer" style="margin-top:-5px">
  <div class="container">
    <h3 class="text-center"> Download Our Mobile App <button class="btn btn-success"> Here </button> </h3> <br> 
    <div class="col-sm-4">
      <h4> ASSISTANCE </h4>
      <a routerLink="/theshop" routerLinkActive="active"> CONTACT US </a> <br>
      <a routerLink="/bookings" routerLinkActive="active"> BARBERSHOP APPOINTMENTS </a> <br>
       <br>
    </div>
    <div class="col-sm-4">
      <h4> ABOUT GENTS </h4>
      <a routerLink="/theteam" routerLinkActive="active"> THE TEAM </a>
      <br>
      <a routerLink="/academy"routerLinkActive="active"> BARBER ACADEMY </a> 
      <br> 
           
      <br>
    </div>
    <div class="col-sm-4">
      <h4> MERCH </h4>
      <a routerLink="/terms" routerLinkActive="active"> TERMS AND CONDITIONS </a>
      <br> 
      <a routerLink="/refunds" routerLinkActive="active"> REFUNDS & RETURNS </a>
    </div>
  </div>

  <br>
  <br> 
  <hr >

  <div class="container">
     © 2018 Gents of Lagos Barbershop. All rights reserved
     <div class="pull-right">
       
        <div class="col-lg-6">
          <a href="https://twitter.com/gentsoflagos">
            <img src="assets/img/twitter.png" alt="" style="height: 40px; width: 40px;">
          </a>
          </div>
      
      
        <div class="col-lg-6">
          <a href="https://instagram.com/gents_of_lagos">
            <img src="assets/img/ig.png" alt="" style="height: 40px; width: 40px;">
          </a>
        </div>
      
     </div>
  </div>  
</div>