<business-nav> </business-nav>
<div class="content-wrapper">
  <section class="content">
      
    <h2 class="page-header">Profit & Loss Charts</h2>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title"> P&L Position This Year</h3>

            <div class="box-tools pull-right">
              <h4 class='text-{{positionColor}}'>{{position | currency:'₦'}}</h4>
            </div>
          </div>
          <div class="box-body">
            <div class="chart pad-all">
              <canvas #myChart2 style="height: 180px; width: 180px"></canvas>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">P&L Position This Month</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
          <div class="box-body text-center">
            <div class="chart pad-all ">
              <canvas #myChart style="height: 180px; width: 180px"></canvas>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>

     
      
    </div>

    
  </section>
</div>