<business-nav> </business-nav> 
<div class="content-wrapper">
    <section class="content">

        <h2 class="page-header">Welcome User</h2>

        <div class="row">

            <div class="col-lg-4 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    
                    <div class="inner">
                        <h4>ADD NEW REVENUE</h4>
                    </div>
                    <br>
                    <div class="icon">
                        <i class="glyphicon glyphicon-plus"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h4>ADD NEW EXPENSE </h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- /.row -->

        <h2 class="page-header">Pending Barber Appointments</h2>

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua">
                        <i class="ion ion-ios-gear-outline"></i>
                    </span>
        
                    <div class="info-box-content">
                        <span class="info-box-text">Client Name</span>
                        <span class="info-box-number">01/01/2001</span>
                        <span class="info-box-text">Two Days Time</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red">
                        <i class="fa fa-google-plus"></i>
                    </span>
        
                    <div class="info-box-content">
                        <span class="info-box-text">Client Name</span>
                        <span class="info-box-number">01/01/2001</span>
                        <span class="info-box-text">Two Days Time</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        
            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>
        
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green">
                        <i class="ion ion-ios-cart-outline"></i>
                    </span>
        
                    <div class="info-box-content">
                        <span class="info-box-text">Client Name</span>
                        <span class="info-box-number">01/01/2001</span>
                        <span class="info-box-text">Two Days Time</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow">
                        <i class="ion ion-ios-people-outline"></i>
                    </span>
        
                    <div class="info-box-content">
                        <span class="info-box-text">Client Name</span>
                        <span class="info-box-number">01/01/2001</span>
                        <span class="info-box-text">Two Days Time</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>

        <h2 class="page-header">Pending Merch Orders</h2>
        
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua">
                        <i class="ion ion-ios-gear-outline"></i>
                    </span>
        
                    <div class="info-box-content">
                        <span class="info-box-text">Client Name</span>
                        <span class="info-box-number">01/01/2001</span>
                        <span class="info-box-text">Two Days Time</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red">
                        <i class="fa fa-google-plus"></i>
                    </span>
        
                    <div class="info-box-content">
                        <span class="info-box-text">Client Name</span>
                        <span class="info-box-number">01/01/2001</span>
                        <span class="info-box-text">Two Days Time</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        
            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>
        
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green">
                        <i class="ion ion-ios-cart-outline"></i>
                    </span>
        
                    <div class="info-box-content">
                        <span class="info-box-text">Client Name</span>
                        <span class="info-box-number">01/01/2001</span>
                        <span class="info-box-text">Two Days Time</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow">
                        <i class="ion ion-ios-people-outline"></i>
                    </span>
        
                    <div class="info-box-content">
                        <span class="info-box-text">Client Name</span>
                        <span class="info-box-number">01/01/2001</span>
                        <span class="info-box-text">Two Days Time</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>

        
    </section>
</div>    