<business-nav> </business-nav>
<ng-progress [color]="'white'" [speed]="10" [trickleSpeed]="50" [thick]="true"></ng-progress>
<div class="content-wrapper">
    <div *ngIf='loader' class="row text-center">
        <img style='height: 100%; width: 100%' src="assets/img/loadergif.gif" alt="">
    </div>       

    <section *ngIf='!loader' class="wrapper">
      <br>
      <div class="row">
        <h3 class="text-center"> Academy Applications </h3>
      </div>

      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="box box-info">
            
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table table-hover table-bordered no-margin">
                  <thead>
                    <tr style="background-color: #0e0e28; color: white">
                      <th>Applicant Name</th>
                      <th> Applicant Essay</th>
                      <th>Applicant Contact Info</th>
                      <th>Application Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr (click)='viewApplication(application)' *ngFor="let application of applications" style="cursor:pointer" data-toggle="modal" data-target="#modal-default">
                      <td>
                        <a>{{application.applicant_name}}</a>
                      </td>
                      <td>
                          {{application.applicant_gist | slice:0:20}}
                      </td>
                      <td>
                        <a>{{application.applicant_contact}}</a>
                      </td>
                      <td>
                          {{application.status}}
                      </td>

                    </tr>
                    <tr *ngIf='noApplications'>
                        <td colspan="4" class="text-info text-center text-uppercase"> There are no pending academy applications </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>

            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
      </div>

  </section>
</div>

 <div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Academy Application</h4>
      </div>
      <div class="modal-body">
          <div *ngIf='applicationView' class="box-body">
              <h4 class="text-danger text-center"> {{errorMessage}} </h4>
              <div class="form-group">
                  <label for="amount">Applicant Name</label>
                  <input type="text" disabled class="form-control" name="customer_name" [(ngModel)]='application.applicant_name'>
              </div>
              <div class="form-group">
                  <label for="amount">Applicant Essay</label>
                  <textarea disabled class="form-control" name="service" [(ngModel)]='application.applicant_gist'></textarea>
              </div>
              <div class="form-group">
                  <label for="amount">Contact Info</label>
                  <input type="text" disabled class="form-control" name="service" [(ngModel)]='application.applicant_contact'>
              </div>
              <div class="form-group">
                  <label for="amount">Status</label>
                  <select name="source" class="form-control" [(ngModel)]='application.status'>
                      <option value=""> Select Status </option>
                      <option value="0"> Received </option>
                      <option value="1"> Processing </option>
                      <option value="2"> Rejected </option>
                      <option value="3"> Accepted </option>
                  </select>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button id='academyCls' type="button" class="btn btn-default pull-left" data-dismiss="modal">CLOSE</button>
        <button (click)='updateApplicationStatus()' type="button" class="btn btn-primary"> UPDATE </button>
      </div>
    </div>
  </div>
</div>