<app-nav></app-nav>
<div class="content" style="margin-top:-19px">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-6 hidden-sm hidden-xs picture">
        <br>
      </div>
      <div class="col-lg-6 text-center blue">
        <br>
        <br> 
        <p> Don't like waiting ? Book a cut online or through our app with one our barbers at a time convinient for you  </p>
        <br>
      </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
      <div class="service">
        <h3> BOOK A SERVICE </h3>


        <br>

        <div class="col-lg-6 col-lg-offset-3">

          <form>

            <select class="form-control" name="service">
              <option value="">James</option>
            </select>
            <br>

            <select class="form-control" name="barber">
              <option value="">James</option>
            </select>
            <br>

            <input type="datetime-local" class="form-control" name="time" min="2018-05-31">
            <br>

            <input type="text" placeholder="Your Name" class="form-control" name="Customer Name">
            <br>

            <input type="text" placeholder="Price" class="form-control" name="price" disabled>
            <br>

            <button class="btn btn-primary"> BOOK NOW </button>
            <br>
            <br>

          </form>

        </div>

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>