<app-nav></app-nav>
<div class="content" style="margin-top:-19px; padding: 0">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-6 hidden-sm hidden-xs picture">
        <br>
      </div>
      <div class="col-lg-6 text-center blue">
        <br>
        <br>
        <p> Gents of Lagos is a highly regarded independent barber training provider with our barber academy located at our lounge in Surulere. 
      </p>
        <br>
      </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
      <div class="service">
        <h3> ACADEMY </h3>
        <p>
           Gents of Lagos is a highly regarded independent barber training provider with our barber academy located at our lounge
          in Surulere.
        </p> 

        <p>
          Learn your new finely chosen career with a reputable male grooming barber brand and become an honorary Gents of Lagos barber. 
        </p>

        <p>
          Avoid large classes and master your new finely chosen craft in a small group of only 4 to 6 trainee barbers. Practice cutting and shaving on real models 
        </p>

        <hr>

        <br>

        <div class="col-lg-6 col-lg-offset-3">

          <form>

            <p style='color:red'> {{errorMessage}} </p>

            <div class="form-group">
              <label class="pull-left">Full Name</label>
              <input type="text" name="fullname" placeholder="Full Name" class="form-control" [(ngModel)]='fullname'>
            </div>

            <div class="input-group fixing">
              <label class='pull-left'>Phone Number</label> <br> <br>
               <div class="input-group">
                  <span style='background-color: #0e0e28; color:white' class="input-group-addon">+234</span>
                  <input class="form-control col-lg-12" maxlength="11" name="applicant_contact" placeholder="Phone Number" type="tel-no" [(ngModel)]='applicant_contact'>                         
              </div> 

            </div> <br>
 
            <div class="form-group">
              <label class="pull-left">Date Of Birth(Must Be At Least 16 Years Old)</label>
              <input type="date" name="dob" class="form-control" max="2003-12-31" [(ngModel)]='dob'>
            </div>
            
            <div class="form-group">
              <label class="pull-left">Bio</label>
              <textarea name="reason" placeholder="Sell yourself and earn your place in our academy in less than 50 words" cols="30" rows="10" class="form-control" [(ngModel)]='reason'></textarea>
            </div>
            

            <button (click)='academyApplication()' class="btn btn-primary"> APPLY </button> <br> <br>
            <button id='modal-btn' style='display: none' class="btn btn-primary" data-target="#modal-default" data-toggle="modal"> Book Now </button>
          </form>

        </div>

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

<div class="modal fade modal-success" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button id="ordClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Application Successful</h4>
      </div>
      <div class="modal-body">
          {{msg}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">CLOSE</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>