<app-nav></app-nav>
<div class="content" style="margin-top:-19px">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-6 hidden-sm hidden-xs picture">
        <br>
      </div>
      <div class="col-lg-6 text-center blue">
        <br>
        <br>
        <p> Gents of Lagos is a highly regarded independent barber training provider with our barber academy located at our lounge in Surulere. 
      </p>
        <br>
      </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
      <div class="service">
        <h3> ACADEMY </h3>
        <p>
           Gents of Lagos is a highly regarded independent barber training provider with our barber academy located at our lounge
          in Surulere.
        </p> 

        <p>
          Learn your new finely chosen career with a reputable male grooming barber brand and become an honorary Gents of Lagos barber. 
        </p>

        <p>
          Avoid large classes and master your new finely chosen craft in a small group of only 4 to 6 trainee barbers. Practice cutting and shaving on real models 
        </p>

        <hr>

        <br>

        <div class="col-lg-6 col-lg-offset-3">

          <form >

            <p> {{errorMessage}} </p>
            
            <input type="text" name="full-name" placeholder="Full Name" class="form-control"> <br>

            <input type="date" name="age" class="form-control" max="2002-12-31"> <br>

            <textarea name="reason" placeholder="Sell yourself and earn your place in our academy in less than 50 words" cols="30" rows="10" class="form-control"></textarea> <br>

            <button class="btn btn-primary"> APPLY </button> <br> <br>

          </form>

        </div>

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>